@font-face {
  font-family: 'Cascadia';
  src: url(ttf/CascadiaCode.ttf) format(truetype);
  --border-width: 3px;
}

:root{
  --clr-black: black;
  --clr-white: white;
  --clr-vsblue: rgb(0, 196, 240);
  --clr-darkerblue: rgb(0, 80, 160);
  --clr-vsgrey: rgb(38, 38, 38);
  --clr-lightgrey: rgb(241, 241, 241);
}

*{  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'inter', sans-serif;
  font-weight: '400';
}

/*nav*/

nav{
  background-color: var(--clr-vsgrey);
}

ul{
  display: flex;
  list-style: none;
  color: var(--clr-black);
  font-size: 1.4rem;
  padding: 1.5rem;
  justify-content: flex-end;
  font-family: 'Cascadia';
}

ul li a{
  text-decoration: none;
  color: var(--clr-white);
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

/* animation container */

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-vsgrey);
  height: 100vh;
  font-size: 1.6rem;
}

.header p{
  color: var(--clr-vsblue);
  font-family: 'Cascadia', sans-serif; 
  padding: 1.2rem;
  text-align: center;
}

.animation-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
}

h1{
  font-family: 'Cascadia';
  font-size: 110px;
  margin-left: -20px;
  color: var(--clr-vsblue);
  width: calc(100% + 20px);
  border-right: 5px solid;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2.8s steps(11),
  cursor .5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes cursor {
  50% {
    border-color: transparent
  }
}

h2{
  color: var(--clr-darkerblue);
  font-size: 2rem;
}

h4{
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.header button{
  border: none;
  height: 6rem;
  width: 6rem;
  background-color: var(--clr-vsblue);
  border-radius: 50%;
  font-weight: 800;
  color: var(--clr-white);
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0,0,0,0.3);
  transition: all 400ms ease-in-out;
}

.content-button{
  position: absolute;
  top: 80vh;
}

.header button:hover{
  background-color: var(--clr-darkerblue);
}


/* Tools */


.title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.2rem;
}


.content{
  display: grid;
  grid-template-columns: 720px;
  align-items: center;
  justify-content: center;
}

.tool-container{
  padding-top: 1rem;
  margin-top: 8rem;
  border: 5px solid var(--clr-darkerblue);
  border-radius: 10px;
  display: grid;
  margin-bottom: 2rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}



@keyframes moveGradient {
50% {
  background-position: 100% 50%;
}
}

.tools{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-top: 0.4rem;
}

.element{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.2rem;
  padding-top: 1.2rem;
}

.element img{
  height: 90px;
  width: auto;
}

.element p{
  padding-top: 0.8rem;
  font-weight: 400;
  color: var(--clr-darkerblue);
}

/* Projects */

h3{
  font-size: 1.4rem;
}

.projects .title{
  padding: 3rem;
}

.grid-col-2{
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-bottom: 40px;
}

.grid-col-2 p{
  text-align: justify;
  font-size: 1.1rem;
}

/* Email form */

.container{
  padding: 70px 100px 80px 100px;
  background-color: var(--clr-lightgrey);
}

.group-form{
  display: grid;
  grid-template-columns: 1fr 1fr, 2fr, 2fr;
  gap: 1rem;
}

.group-form input{
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
}

.group-form textarea{
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  font-family: 'inter';
  height: 60px;
}

.group-form button{
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  background-color: var(--clr-black);
  color: var(--clr-white);
  transition: all 250ms ease-in-out;
}

.group-form button:hover{
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.group-form button:focus{
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

/* Footer */

footer{
  display: grid;
  grid-template-columns: 1fr 1fr, 2fr;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

footer img{
  height: 30px;
}

footer div{
  display: flex;
  justify-content: space-evenly;
}





















@media screen and (max-width:770px){
.content{
  grid-template-columns: 400px;
}

.header p{
  font-size: 1rem;
}

h1{
  font-size: 60px;
}

.tools{
  grid-template-columns: auto auto;
}

.element img{
  height: 70px;
}

.grid-col-2{
display: flex;
flex-direction: column;
}

}